<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738937944088-1si9m0m19e4vr60uvavjfpugfc7npd6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738937944088-1si9m0m19e4vr60uvavjfpugfc7npd6b</string>
	<key>API_KEY</key>
	<string>AIzaSyAh1rhY__fdNR2PcBieE-SVblXCX1b7IoY</string>
	<key>GCM_SENDER_ID</key>
	<string>738937944088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.trueworkers.client</string>
	<key>PROJECT_ID</key>
	<string>trueworkers-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>trueworkers-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738937944088:ios:45379d14895e470276eb6d</string>
</dict>
</plist>